In [1]:
import requests
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
token="Здесь должен быть токен"

In [3]:
group_name="vesti"
offset=0
count=100
all_posts=[]
all_comments=[]

# Инфляци

In [5]:
offset=0
while offset<1700:
        req=requests.get('https://api.vk.com/method/wall.search',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'domain': group_name,
                   'owners_only': 1,
                   'query': 'инфляци',
                   'count': count,
                   'offset': offset
                   
               })
        res=req.json()['response']['items']
        offset+=100
        time.sleep(1)
        all_posts.extend(res)

In [9]:
df = pd.json_normalize(all_posts)
df=df[["id", "owner_id", "date", "text", "comments.count"]]
df.rename(columns={'date': 'post_time','text':'post_text'}, inplace=True)
df

,id,owner_id,post_time,post_text,comments.count
0,9237358,-24136539,1735120492,"""Мы ожидаем в следующем году темп роста пример...",11
1,9237329,-24136539,1735119247,Необходимо обеспечивать предложение со стороны...,10
2,9234740,-24136539,1734965313,Михаил Мишустин на специальном совещании по ин...,65
3,9234434,-24136539,1734951418,На совещании по экономическим вопросам Владими...,40
4,9232546,-24136539,1734859200,"ТОЛЬКО У НАС! ""Нет задачи убить экономику"": Це...",44
...,...,...,...,...,...
212,6215668,-24136539,1647323273,Экономист Михаил Хазин спрогнозировал отмену а...,141
213,6194172,-24136539,1647114027,Пока одни европейские политики призывают налож...,71
214,6177837,-24136539,1646934368,Джо Байден связал рекордную за 40 лет инфляцию...,130
215,6163951,-24136539,1646779976,После введения санкций против России страны ЕС...,174
216,6150222,-24136539,1646657367,Санкции в отношении России наносят урон не тол...,210

In [10]:
posts_id1=list(df[df['comments.count']!=0]['id'])

# Экономи

In [12]:
count=100
all_posts=[]
offset=0
while offset<1700:
        req=requests.get('https://api.vk.com/method/wall.search',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'domain': group_name,
                   'owners_only': 1,
                   'query': 'экономи',
                   'count': count,
                   'offset': offset
                   
               })
        res=req.json()['response']['items']
        offset+=100
        time.sleep(1)
        all_posts.extend(res)

In [13]:
df = pd.json_normalize(all_posts)
df=df[["id", "owner_id", "date", "text", "comments.count"]]
df.rename(columns={'date': 'post_time','text':'post_text'}, inplace=True)
df

,id,owner_id,post_time,post_text,comments.count
0,9256580,-24136539,1736415009,В Приднестровье зафиксированы случаи гибели лю...,34
1,9234517,-24136539,1734955201,Соглашение о зоне свободной торговли между ЕАЭ...,17
2,9184955,-24136539,1732521017,"""Вопрос не в экономии денег, вопрос в том, как...",7
3,9125369,-24136539,1729168026,Аргентинская провинция Ла-Риоха выпустила собс...,2
4,9102882,-24136539,1727943000,Строительство - одна из самых перспективных от...,2
...,...,...,...,...,...
170,21034,-24136539,1347440667,Экономия веса может достичь двухсот кг,0
171,20127,-24136539,1346160933,Новый материал для устройств памяти позволит э...,0
172,16880,-24136539,1343072112,В середине декабря прошлого года France Soir и...,0
173,10320,-24136539,1335866185,Греческие профсоюзы протестуют против мер жест...,0
174,1070,-24136539,1312973401,"Первой ""эконом-станцией"" московского метро ста...",0

In [14]:
posts_id2=list(df[df['comments.count']!=0]['id'])

# Кредит

In [16]:
count=100
all_posts=[]
offset=0
while offset<1700:
        req=requests.get('https://api.vk.com/method/wall.search',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'domain': group_name,
                   'owners_only': 1,
                   'query': 'кредит',
                   'count': count,
                   'offset': offset
                   
               })
        res=req.json()['response']['items']
        offset+=100
        time.sleep(1)
        all_posts.extend(res)

In [17]:
df = pd.json_normalize(all_posts)
df=df[["id", "owner_id", "date", "text", "comments.count"]]
df.rename(columns={'date': 'post_time','text':'post_text'}, inplace=True)
df

,id,owner_id,post_time,post_text,comments.count
0,9265258,-24136539,1736899220,"""Просто жил мирной жизнью, и мне предъявили, ч...",25
1,9259758,-24136539,1736591400,В Томске семилетняя девочка оформила на родите...,21
2,9258579,-24136539,1736520300,18-летний первокурсник МФТИ покончил с собой и...,56
3,9241796,-24136539,1735385637,Глава РФПИ Кирилл Дмитриев объяснил в интервью...,4
4,9239304,-24136539,1735225522,ТОЛЬКО У НАС! Распространение дальневосточной ...,9
...,...,...,...,...,...
167,6641743,-24136539,1653736017,Более 37 млрд руб. выделило правительство на п...,11
168,6640935,-24136539,1653723051,Сбербанк снизил ставки по вкладам в рублях: ма...,15
169,6631252,-24136539,1653508800,В Калининградской области активизировались лже...,35
170,6615923,-24136539,1653143435,"Число предпринимателей, воспользовавшихся за м...",3
171,6556915,-24136539,1652000964,"Инвестиционные компании, занимающиеся обработк...",6

In [18]:
posts_id3=list(df[df['comments.count']!=0]['id'])

# Валют

In [20]:
count=100
all_posts=[]
offset=0
while offset<1700:
        req=requests.get('https://api.vk.com/method/wall.search',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'domain': group_name,
                   'owners_only': 1,
                   'query': 'валют',
                   'count': count,
                   'offset': offset
                   
               })
        res=req.json()['response']['items']
        offset+=100
        time.sleep(1)
        all_posts.extend(res)

In [21]:
df = pd.json_normalize(all_posts)
df=df[["id", "owner_id", "date", "text", "comments.count"]]
df.rename(columns={'date': 'post_time','text':'post_text'}, inplace=True)
df

,id,owner_id,post_time,post_text,comments.count
0,9275700,-24136539,1737477569,,2
1,9274333,-24136539,1737400306,Бундестаг на следующей неделе обсудит тему зап...,10
2,9268777,-24136539,1737079676,Импортные вина в России подорожают к марту на ...,73
3,9267119,-24136539,1737010802,Мошенники начали обманывать детей на маркетпле...,6
4,9261858,-24136539,1736703000,"""Альтернатива для Германии"" в предвыборной про...",7
...,...,...,...,...,...
203,5909814,-24136539,1639290105,Страницу премьер-министра Индии в Twitter взло...,6
204,5888117,-24136539,1638421860,"Лукашенко заявил, что у интеграции России и Бе...",32
205,5868268,-24136539,1637741713,Протесты в крупнейших городах Турции продолжал...,189
206,5867766,-24136539,1637733964,Турцию охватили массовые беспорядки из-за реко...,103
207,5770250,-24136539,1634121601,"""Живой Кен"" теперь стал Барби. \n \n38-летний ...",74

In [22]:
posts_id4=list(df[df['comments.count']!=0]['id'])

# Рубл

In [24]:
count=100
all_posts=[]
offset=0
while offset<1700:
        req=requests.get('https://api.vk.com/method/wall.search',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'domain': group_name,
                   'owners_only': 1,
                   'query': 'рубл',
                   'count': count,
                   'offset': offset
                   
               })
        res=req.json()['response']['items']
        offset+=100
        time.sleep(1)
        all_posts.extend(res)

In [25]:
df = pd.json_normalize(all_posts)
df=df[["id", "owner_id", "date", "text", "comments.count"]]
df.rename(columns={'date': 'post_time','text':'post_text'}, inplace=True)
df

,id,owner_id,post_time,post_text,comments.count
0,9275700,-24136539,1737477569,,2
1,9275210,-24136539,1737459900,"Закон, повышающий ответственность за продажу д...",40
2,9274185,-24136539,1737396001,"Сибиряк похитил у мужчины 20 миллионов рублей,...",7
3,9272505,-24136539,1737316198,,0
4,9269878,-24136539,1737143480,,8
...,...,...,...,...,...
500,8698041,-24136539,1707653671,Wildberries планирует вложить девять млрд рубл...,13
501,8695294,-24136539,1707499821,,6
502,8690555,-24136539,1707312720,Размер маткапитала на первенца теперь составля...,80
503,8689910,-24136539,1707298247,Крымские таможенники конфисковали у гражданина...,16
504,8688364,-24136539,1707240854,В омском поселке Чкаловский местный житель обн...,56

In [26]:
posts_id5=list(df[df['comments.count']!=0]['id'])

# Цен

In [28]:
count=100
all_posts=[]
offset=0
while offset<1700:
        req=requests.get('https://api.vk.com/method/wall.search',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'domain': group_name,
                   'owners_only': 1,
                   'query': 'цен',
                   'count': count,
                   'offset': offset
                   
               })
        res=req.json()['response']['items']
        offset+=100
        time.sleep(1)
        all_posts.extend(res)

In [29]:
df = pd.json_normalize(all_posts)
df=df[["id", "owner_id", "date", "text", "comments.count"]]
df.rename(columns={'date': 'post_time','text':'post_text'}, inplace=True)
df

,id,owner_id,post_time,post_text,comments.count
0,9273292,-24136539,1737370333,"ТОЛЬКО У НАС! ""Банки считают, что им недоплачи...",15
1,9268777,-24136539,1737079676,Импортные вина в России подорожают к марту на ...,73
2,9267866,-24136539,1737041381,"""Никто не готов в тех же объемах газ, как Росс...",27
3,9263337,-24136539,1736796000,Новые санкции против России не остановили эксп...,18
4,9263166,-24136539,1736787000,"Атака на инфраструктуру ""Турецкого потока"" мож...",15
...,...,...,...,...,...
88,8995339,-24136539,1721763129,Число непроданных билетов на предстоящие Олимп...,42
89,8993594,-24136539,1721663741,Глава Минобрнауки предложил предоставлять обще...,128
90,8990000,-24136539,1721403000,"В ""Аэроэкспрессе"" заявили, что с 1 августа зав...",10
91,8985908,-24136539,1721152807,,0
92,8983113,-24136539,1720976400,Сотни футболок и наклеек на машины с фотографи...,25

In [30]:
posts_id6=list(df[df['comments.count']!=0]['id'])

# Объединение списков

In [32]:
len(posts_id1+posts_id2+posts_id3+posts_id4+posts_id5+posts_id6)

1292

In [33]:
posts_id=list(set(posts_id1+posts_id2+posts_id3+posts_id4+posts_id5+posts_id6))

In [34]:
len(posts_id)

1191

In [56]:
pd.DataFrame(posts_id).to_excel('econ_post_id_vesti.xlsx')

In [58]:
owner_id=-24136539

In [60]:
posts_id_part1=posts_id[:500]
posts_id_part2=posts_id[500:1000]
posts_id_part3=posts_id[1000:]
#posts_id_part4=posts_id[1500:2000]
#posts_id_part5=posts_id[2000:]
#posts_id_part6=posts_id[2500:3000]
#posts_id_part7=posts_id[3000:3500]
#posts_id_part8=posts_id[3500:]

In [62]:
all_comments=[]

In [64]:
for post_id in posts_id_part1:
    req=requests.get('https://api.vk.com/method/wall.getComments',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'owner_id': owner_id,
                   'post_id': post_id,
                   'count': 100
               })
    time.sleep(1)
    res=req.json()['response']['items']
    all_comments.extend(res)

In [65]:
data1 = pd.json_normalize(all_comments)
data1=data1[["post_id", "text", "date", "from_id"]]
data1.rename(columns={'date': 'comment_time', 'id': 'comment_id'}, inplace=True)
data1=data1.dropna()
data1['post_id'] = data1['post_id'].astype(int)
data1

,post_id,text,comment_time,from_id
0,6301697,"Казачок ты наш!\nСмотри,не облажайся!",1648209842,708211077
1,6301697,Ну вот и начинается.,1648209865,663920316
2,6301697,"Турция всегда была переменчивой, сегодня подде...",1648209895,560221935
4,6301697,Ношь ф спину 😢,1648209903,648045382
5,6301697,молодец,1648209979,561005377
...,...,...,...,...
9196,6675278,Что то не заметно чтоб цены под контролем были,1654663371,587633966
9197,6675278,,1654666011,350759818
9198,6675278,Кто-то пытается своим именем погасить правду.....,1654666121,350759818
9199,6675278,Потому что раньше цены в два раза поднялись. Л...,1654676243,450034038
9200,6675278,отличная новость,1654711029,171909291

In [69]:
all_comments=[]
for post_id in posts_id_part2:
    req=requests.get('https://api.vk.com/method/wall.getComments',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'owner_id': owner_id,
                   'post_id': post_id,
                   'count': 100
               })
    time.sleep(1)
    res=req.json()['response']['items']
    all_comments.extend(res)
data2 = pd.json_normalize(all_comments)
data2=data2[["post_id", "text", "date", "from_id"]]
data2.rename(columns={'date': 'comment_time', 'id': 'comment_id'}, inplace=True)
data2=data2.dropna()
data2['post_id'] = data2['post_id'].astype(int)
data2

,post_id,text,comment_time,from_id
0,8960848,Да нет там российских спортсменов! Все россиян...,1719511132,-50560057
1,8960848,,1719511164,636239697
2,8960848,все нейтралы - предатели!!!!,1719511207,88545156
3,8960848,Что? Даже с белой тряпкой вместо флага не допу...,1719511362,31166194
4,8960848,Это только начало больших и малых унижений😉,1719511768,376279263
...,...,...,...,...
9225,6737596,катаемся на чмошных электричках 50 летней давн...,1656143497,482156045
9226,6661818,Ну документы о закрытии кредита должны быть на...,1654244070,285748487
9227,6661818,Государство должно вмешаться и помочь гражданам.,1654246149,593353578
9228,6661818,Закрыть этот банк !!! Мошенники!!! ⛔️,1654247034,227419822
9229,6661818,Срок исковой давности три года. Звонят коллект...,1654251474,217650403

In [70]:
all_comments=[]
for post_id in posts_id_part3:
    req=requests.get('https://api.vk.com/method/wall.getComments',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'owner_id': owner_id,
                   'post_id': post_id,
                   'count': 100
               })
    time.sleep(1)
    res=req.json()['response']['items']
    all_comments.extend(res)
data3 = pd.json_normalize(all_comments)
data3=data3[["post_id", "text", "date", "from_id"]]
data3.rename(columns={'date': 'comment_time', 'id': 'comment_id'}, inplace=True)
data3=data3.dropna()
data3['post_id'] = data3['post_id'].astype(int)
data3

,post_id,text,comment_time,from_id
0,9186999,До чего народу дела нет как быстро приняли закон.,1732624749,752199389
1,9186999,,1732624790,164117556
2,9186999,"В детстве баловались таким, точно скажу! И дей...",1732627066,720875832
3,9186999,Принять закон о запрете проще чем проводить ка...,1732629666,10101416
4,9186999,Дума вы за ценами смотрите и тарифами? Какой т...,1732632218,833865193
...,...,...,...,...
3332,8269822,Не видит необходимости поднимать налоги и подн...,1694504417,137758514
3333,8269822,"Россия регулярно участвует в саммитах, форумах...",1694504649,820376018
3334,8269822,Принял страну с курсом 23 рубля за доллар,1694506156,340377747
3335,8269822,Ограничения в расчётах... Это всё идёт по план...,1694506859,464539122
3336,8269822,Гопник.,1694507202,68378767

In [67]:
all_comments=[]
for post_id in posts_id_part4:
    req=requests.get('https://api.vk.com/method/wall.getComments',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'owner_id': owner_id,
                   'post_id': post_id,
                   'count': 100
               })
    time.sleep(1)
    res=req.json()['response']['items']
    all_comments.extend(res)
data4 = pd.json_normalize(all_comments)
data4=data4[["post_id", "text", "date", "from_id"]]
data4.rename(columns={'date': 'comment_time', 'id': 'comment_id'}, inplace=True)
data4=data4.dropna()
data4['post_id'] = data4['post_id'].astype(int)
data4

,post_id,text,comment_time,from_id
0,1594207,Вашингтонщина на связи... враги. \n“Крыса” заг...,1663330305,279764136
1,1594207,Не понятно о чём тут пишут : какое это имеет з...,1663337387,5480012
2,1594207,Набиулина пропустила свой шанс в феврале. Она ...,1663338534,217378276
3,1741663,"очень важна эта новость! Я, как причастный к Н...",1673947300,612394865
4,1741663,В Европе и Украине мягкая зима . Судя по всему...,1673947331,158423002
...,...,...,...,...
2644,1350123,"Украина их не увидет, они для самой Европы. Чт...",1639939384,195518650
2645,1841643,,1687166614,263976320
2647,1841643,вкус очка слышал так называют,1687166638,184718507
2648,1841643,Это у нас в России закономерность! Шальные ден...,1687166900,788934740
2649,1841643,Вообще насрать,1687181937,100511027

In [70]:
all_comments=[]
for post_id in posts_id_part5:
    req=requests.get('https://api.vk.com/method/wall.getComments',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'owner_id': owner_id,
                   'post_id': post_id,
                   'count': 100
               })
    time.sleep(1)
    res=req.json()['response']['items']
    all_comments.extend(res)
data5 = pd.json_normalize(all_comments)
data5=data5[["post_id", "text", "date", "from_id"]]
data5.rename(columns={'date': 'comment_time', 'id': 'comment_id'}, inplace=True)
data5=data5.dropna()
data5['post_id'] = data5['post_id'].astype(int)
data5

,post_id,text,comment_time,from_id
0,1612270,"ю инь, ю янь, ю ань",1664377875,108555361
1,1612270,Опять сырье будут менять на бумажки которые не...,1664378591,104643028
2,1612270,Юань сегодня одна из самых нестабильных валют....,1664379767,350048127
3,1612270,,1664380508,209726788
4,1612270,Сингапурский доллар !!! Они мне о б е щ а л и ...,1664461925,5480012
...,...,...,...,...
3106,1449981,Нужно сейчас предоставлять людям кредитные кан...,1651133834,706728423
3107,1449981,"Полтора триллиончика на 9 мая можно было бы ""П...",1651151902,660367229
3108,1433598,а в России как дела ?,1649784689,565065176
3109,1433598,"А у нас как будто цены падают, прям каждый ден...",1649785274,404885264
3111,1433598,👍🏻отличная новость,1649793613,2723761

In [89]:
all_comments=[]
for post_id in posts_id_part6:
    req=requests.get('https://api.vk.com/method/wall.getComments',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'owner_id': owner_id,
                   'post_id': post_id,
                   'count': 100
               })
    time.sleep(1)
    res=req.json()['response']['items']
    all_comments.extend(res)
data6 = pd.json_normalize(all_comments)
data6=data6[["post_id", "text", "date", "from_id"]]
data6.rename(columns={'date': 'comment_time', 'id': 'comment_id'}, inplace=True)
data6=data6.dropna()
data6['post_id'] = data6['post_id'].astype(int)
data6

,post_id,text,comment_time,from_id
0,447310,,1539613903,294083552
1,447310,,1539613942,441493053
2,447310,заемщики микрофинансовых контор - это люди воо...,1539614773,70543651
8,1741647,"Конечно, а мы автомобили тоже, и всё остальное",1717409119,864097297
9,1741647,"Ну да, бред западной прессы, конечно стоит взя...",1717410264,859682707
...,...,...,...,...
1628,849750,"Просадка будет! Наверное доллар ""обвалится"" чу...",1615718764,470377146
1629,1488727,А кто вывел? У кого такие сбережения? Уточните...,1686318942,57080930
1630,1488727,"Кто вывел,почему не контролируете,какие сбереж...",1686320698,413535803
1631,1488727,"У кого есть, что выводить тот и выводит чтобы ...",1686330697,616924632
1632,1488727,"какая национализация вкладов, о чем вы? О том,...",1686392863,799554172

In [90]:
all_comments=[]
for post_id in posts_id_part7:
    req=requests.get('https://api.vk.com/method/wall.getComments',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'owner_id': owner_id,
                   'post_id': post_id,
                   'count': 100
               })
    time.sleep(1)
    res=req.json()['response']['items']
    all_comments.extend(res)
data7 = pd.json_normalize(all_comments)
data7=data7[["post_id", "text", "date", "from_id"]]
data7.rename(columns={'date': 'comment_time', 'id': 'comment_id'}, inplace=True)
data7=data7.dropna()
data7['post_id'] = data7['post_id'].astype(int)
data7

,post_id,text,comment_time,from_id
0,636760,Вот цель путина,1570678376,550203286
1,628569,"Когда нечего больше обсудить. Жаль, что нельзя...",1568986105,454092814
2,1783643,"Вы, реально, считаете подобное это новостными ...",1731350338,861818155
3,1783643,Единственная стоящая вещь во всей ей?,1731354177,619740159
4,1406812,,1679383657,173628274
...,...,...,...,...
1778,457533,И еды...,1540809545,406114315
1779,457533,как же беспрецедентный рост зарплат от медведе...,1540810013,345407344
1780,457533,Скатились на уровень Северной Кореи...,1540810079,94416448
1781,457533,Ничего..мы привыкли ..раньше раз в 5-7 лет пок...,1540810369,8821635
1782,457533,Будем ждать моды 80х,1540814928,319724497

In [91]:
all_comments=[]
for post_id in posts_id_part8:
    req=requests.get('https://api.vk.com/method/wall.getComments',
               params={
                   'access_token': token,
                   'v': 5.131,
                   'owner_id': owner_id,
                   'post_id': post_id,
                   'count': 100
               })
    time.sleep(1)
    res=req.json()['response']['items']
    all_comments.extend(res)
data8 = pd.json_normalize(all_comments)
data8=data8[["post_id", "text", "date", "from_id"]]
data8.rename(columns={'date': 'comment_time', 'id': 'comment_id'}, inplace=True)
data8=data8.dropna()
data8['post_id'] = data8['post_id'].astype(int)
data8

,post_id,text,comment_time,from_id
0,1514313,Миром правит доллар!💪,1688747659,118100484
1,1588045,,1696772725,215172956
2,1588045,"Ну почему же «неприятно удивит»?\nИ почему, со...",1696784737,13755381
3,1588045,"То есть магазинам будет выгоднее ставить цену,...",1696791456,313855769
4,219982,Скидки и промо-акции - это уже давно не эконом...,1500559880,152316734
...,...,...,...,...
1928,1507323,На бусы ещё можно менять.,1688029824,619740159
1929,1507323,Интересно куда потом деть горбоды?,1688032005,173628274
1930,1507323,"- главное, чтобы нам зарплату не стали выплачи...",1688034507,247680196
1931,1507323,Только кордоб нам не хватает для счастья.,1688037069,429407576
1932,1769468,"Мораль сей басни такова,Татаро-еврейский союз ...",1724797828,774199145

In [73]:
result=pd.concat([data1,data2,data3])

In [75]:
result

,post_id,text,comment_time,from_id
0,6301697,"Казачок ты наш!\nСмотри,не облажайся!",1648209842,708211077
1,6301697,Ну вот и начинается.,1648209865,663920316
2,6301697,"Турция всегда была переменчивой, сегодня подде...",1648209895,560221935
4,6301697,Ношь ф спину 😢,1648209903,648045382
5,6301697,молодец,1648209979,561005377
...,...,...,...,...
3332,8269822,Не видит необходимости поднимать налоги и подн...,1694504417,137758514
3333,8269822,"Россия регулярно участвует в саммитах, форумах...",1694504649,820376018
3334,8269822,Принял страну с курсом 23 рубля за доллар,1694506156,340377747
3335,8269822,Ограничения в расчётах... Это всё идёт по план...,1694506859,464539122
3336,8269822,Гопник.,1694507202,68378767

In [77]:
result.to_csv('vesti_all_comments_new.csv', index=False)

In [79]:
result0=pd.read_csv('vesti_all_comments_old.csv')

In [81]:
result0

,post_id,text,comment_time,from_id
0,6301697,"Казачок ты наш!\nСмотри,не облажайся!",1648209842,708211077
1,6301697,Ну вот и начинается.,1648209865,663920316
2,6301697,"Турция всегда была переменчивой, сегодня подде...",1648209895,560221935
3,6301697,Ношь ф спину 😢,1648209903,648045382
4,6301697,молодец,1648209979,561005377
...,...,...,...,...
19586,8269822,"Россия регулярно участвует в саммитах, форумах...",1694504649,820376018
19587,8269822,Принял страну с курсом 23 рубля за доллар,1694506156,340377747
19588,8269822,Ограничения в расчётах... Это всё идёт по план...,1694506859,464539122
19589,8269822,Гопник.,1694507202,68378767
19590,8269822,"ВЭФ, Г20 ,БРИКС, ПМЭФ, Армия 23, и друие форум...",1694513643,729846349

In [83]:
result_merge=pd.concat([result0,result])

In [85]:
result_merge

,post_id,text,comment_time,from_id
0,6301697,"Казачок ты наш!\nСмотри,не облажайся!",1648209842,708211077
1,6301697,Ну вот и начинается.,1648209865,663920316
2,6301697,"Турция всегда была переменчивой, сегодня подде...",1648209895,560221935
3,6301697,Ношь ф спину 😢,1648209903,648045382
4,6301697,молодец,1648209979,561005377
...,...,...,...,...
3332,8269822,Не видит необходимости поднимать налоги и подн...,1694504417,137758514
3333,8269822,"Россия регулярно участвует в саммитах, форумах...",1694504649,820376018
3334,8269822,Принял страну с курсом 23 рубля за доллар,1694506156,340377747
3335,8269822,Ограничения в расчётах... Это всё идёт по план...,1694506859,464539122
3336,8269822,Гопник.,1694507202,68378767

In [87]:
result_merge=result_merge.drop_duplicates()
result_merge

,post_id,text,comment_time,from_id
0,6301697,"Казачок ты наш!\nСмотри,не облажайся!",1648209842,708211077
1,6301697,Ну вот и начинается.,1648209865,663920316
2,6301697,"Турция всегда была переменчивой, сегодня подде...",1648209895,560221935
3,6301697,Ношь ф спину 😢,1648209903,648045382
4,6301697,молодец,1648209979,561005377
...,...,...,...,...
3325,8994804,"Вроде мелочь, а приятно. Я смогу в месяц на эт...",1721797660,248106797
3326,8994804,1 \nНам бодро вещают с экрана - \nв России у н...,1721803777,527537411
3327,8994804,Поживём ‐ увидим...🤗,1721825504,34849496
3328,8994804,Где они их берут в таком колличесиве???!!! Мне...,1722172307,756763017
3329,8994804,"Позорише просто позорище 🤦. Господи, пусть лю...",1722224769,259624078

In [89]:
result_merge.to_csv('vesti_ec_comments_all.csv', index=False)